
<div class="col m4">
  <div class="card">
    <div class="card-content black-text">
      <span class="card-title">{{todo.name}}</span>
      <p><label>description: </label>{{todo.description}}</p>
      <p><label>estimate: </label>{{todo.estimate}}</p>
      <p><label>in progress?: </label>{{todo.inProgress}}</p>
    </div>
        <div class="card-action">
            <a *ngIf="todo.inProgress" class="waves-effect btn-flat"
            (click)="pause(todo)">
            <i class="material-icons">pause_circle_outline</i>
      </a>
      <a *ngIf="!todo.inProgress" class="waves-effect btn-flat"
        (click)="setInProgress(todo)">
        <i class="material-icons">play_circle_outline</i>
      </a>
    </div>
  </div>
</div>
