<h1>{{title}}</h1>
<h2>My Todos</h2>
<div class="row">
    <form materialize class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">create</i>
                <input id="title" type="text" class="validate" autofocus required
                [(ngModel)]="pendingTodo.name" placeholder="What needs to be done?">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">create</i>
                <input id="description" type="text" class="validate"
                [(ngModel)]="pendingTodo.description" required>
                <label for="description">Description</label>
            </div>
            <div class="input-field col s6">
                <input type="checkbox" id="inProgress" 
                [(ngModel)]="pendingTodo.inProgress" />
                <label for="inProgress">Item is in progress</label>
            </div>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn"
            (click)="createTodo(pendingTodo)">Create todo item</a>
        </div>
    </form>
</div>
<div class="s10 offset-s1 col" *ngFor="let todo of Todos">
    <todo-detail (click)="onSelect(todo)" [todo]="todo">
    </todo-detail>
</div>